<!DOCTYPE html>
<html>

<head>
  <title><%= title %></title>
  <link rel='stylesheet' href='/stylesheets/style.css' />
  <link rel='stylesheet' href='/stylesheets/index.css' />
</head>

<body>
  <div id="main-img">
    <img src="images/undraw_filing_system.svg" alt="Automate Docs" />
  </div>
  <h1><%= title %></h1>
  <p>Welcome to <%= title %></p>
  <p>Converting EJS to HTML, in specific format to automate task to populate details </p>
  <a href="/report">Demo</a>
</body>

</html>