<!DOCTYPE html>
<html>

<head>
    <title>Report</title>
    <style>
        body {
            margin: 0px;
            padding: 0px;
            font-size: 16px;
        }

        #wrapper {
            padding: 20px 150px;
        }

        h1 {
            text-align: center;
            font-size: 21px;
        }

        p {
            padding: 5px 0px;
            margin: 0px;
        }

        #header-title>p {
            text-align: center;
        }

        #header-title div {
            display: flex;
            justify-content: space-between;
        }

        table {
            margin-top: 5px;
            border-collapse: collapse;
            width: auto;
            min-width: 100%;
        }

        table td,
        table th {
            border: 1px solid #222;
        }
    </style>
</head>

<body>
    <div id="wrapper">
        <% for(var i = 0, iteration=1; i<data.length; iteration++) { %>
        <div id="page">
            <h1>Automate Docs</h1>
            <div id="header-title">
                <h1> Fix Header Later</h1>
            </div>
            <div id="table-container">
                <table>
                    <thead>
                        <tr>
                            <th>Sr. No.</th>
                            <th>Name</th>
                            <th>Roll No</th>
                            <th>Marks</th>
                        </tr>
                    </thead>
                    <tbody>
                        </p>
                        <% for( ; i < recordsLimitPerPage*iteration && i < data.length; i++) { %>
                            <tr>
                                <td>
                                    <%= data[i].sno %>
                                </td>
                                <td>
                                    <%= data[i].name %>
                                </td>
                                <td>
                                    <%= data[i].enrollment %>
                                </td>
                                <td>
                                    <%= data[i].marks %>
                                </td>
                            </tr>
                            <% } %>
                    </tbody>
                </table>
            </div>
            <div>
                <div>
                    <p>Footer</p>
                </div>
            </div>
        </div>
        <% } %>
    </div>
</body>

</html>